.pc1{
    font-family: 'Montserrat';
    font-size: 2rem;
  margin : 2%;
  text-decoration: none;
  color: green;
  white-space: pre;
  

}
.pc1::after{
    content: "\a";
    white-space: pre;
}
.pc2{
  font-family: 'Mali';
  font-size: 1.3rem;
margin-left: 2%;
text-decoration: none;
color: rgb(0, 0, 0);
white-space: pre;


}
.pc2::after{
  content: "\a";
  white-space: pre;
}

.tp{

    font-family: 'Montserrat';
    font-size: 2rem;
  margin : 2%;
  text-decoration: none;
  color:rgb(10, 8, 8);
}